{% extends "base.html" %}
{% block body %}
  <div class="row">
    <div class="eight columns">
      <h3>Accounts</h3>
      <hr/>
      {% for account in accounts %}
	  <div class="row" style="margin-botton: 2px;padding-top:0px"><p>
		<div class="four columns">
        {{account.provider}} 
		</div>
		{% if account.active %}
			<a href="/disconnect/{{account.provider}}" class="button red nice" style="width:80px;">Remove</a>
		{% else %}
			<a href="/associate/{{account.provider}}" class="button nice" style="width:80px;">Add</a>
		{% endif %}
		<hr/>
	  </div>
      {% endfor %}
    </div>
    <div class="four columns">
      <div class="panel">
		<h4>Notification Preferences</h4>
		<hr/>
		<p>
		<input type="checkbox" /> Email
		<br/>
		<input type="checkbox" /> Phone
		</p>
	  </div>
    </div>
  </div>
{% endblock %}