{% extends 'base.html' %}
{% load uni_form_tags %}
{{ form|as_uni_form }}

{% block body %}

<br>
<div class="container">

<div class="row">
<div class = "eight columns">
	
<h4 class = "subheader"> SimplyRM is an organizational tool that empowers you to keep track of your relationships like never before.<br>
<br>
We're still in private alpha, but if you enter your name and email, we'll keep you updated on our progress and let you know when to sign-up for your free account.</h4>
</hr>
</div>
</div>
<div class = "row">
<div class = "eight columns">
<div class ="panel">
<!-- <form action="{% url privatebeta_invite %}" method="post" class = "nice"> /-->
{% uni_form form form.helper %}
</div>
</div>
{% csrf_token %}
</div>
</div>
{% endblock %}